/bin
/.DS_Store
/afterFixing.test.bed.expand.end.50.bed
/afterFixing.test.bed.expand.start.50.bed
/beforeFixing.test.bed.expand.end.50.bed
/beforeFixing.test.bed.expand.start.50.bed
/beforFixing.test.bed.expand.start.50.bed
/refseq.mm9.04_12.uniq.bed
/test.bed
/test.bed.expand.end.50.bed
/test.bed.expand.start.50.bed
