/bin
/.DS_Store
/build
/dist
snappy*

#########################
# Eclipse config files
#########################
.classpath
.project

##########################
# Compiled classes
##########################
*.class